<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course</title>
    <link rel="stylesheet" href="./css/course.css" />
  </head>
  <body>
    <h1>Courses</h1>
    <div class="class-links">
      <div class="link">
        <h1>CPP Course</h1>
        <p>
          This course will give you a full introduction into all of the core
          concepts in C++.
        </p>
        <a href="https://www.youtube.com/watch?v=vLnPwxZdW4Y">Click here</a>
      </div>
      <div class="link">
        <h1>Java Course</h1>
        <p>
          This course will give you a full introduction into all of the core
          concepts in Java
        </p>
        <a href="https://www.youtube.com/watch?v=8cm1x4bC610">Click here</a>
      </div>
      <div class="link">
        <h1>Python Course</h1>
        <p>
          This course will give you a full introduction into all of the core
          concepts in python.
        </p>
        <a href="https://www.youtube.com/watch?v=rfscVS0vtbw">Click here</a>
      </div>
      <div class="link">
        <h1>Web Dev Course</h1>
        <p>
          This course will give a full introuduction into all of core concepts
          of HTML and CSS.
        </p>
        <a href="https://www.youtube.com/watch?v=mU6anWqZJcc">Click here</a>
      </div>
    </div>
  </body>
</html>
