<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BitCoder</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="home">
      <h1>BitCoder</h1>
      <div class="links">
        <a href="/login">Log In</a>
        <a href="/register">Sign Up</a>
      </div>
    </div>
    <div class="large_text">
      <h1>BITCODER</h1>
      <p>The Platform to upskill your carrer</p>
      <button>Get Started!</button>
    </div>
  </body>
</html>
