<head>
  <title>Log in</title>
  <link rel="stylesheet" href="./css/login.css" />
</head>
<body>
  <div class="login">
    <%if(messages.error){%> <%=messages.error%> <%}%>
    <div class="container">
      <h1>Log In</h1>
      <form action="/login" method="POST" class="form">
        <input type="text" placeholder="Email" class="feild" name="Email" />
        <input
          type="password"
          placeholder="Password"
          class="feild"
          name="Password"
        />
        <input type="submit" class="submit" />
      </form>
    </div>
  </div>
</body>
