<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="./css/register.css" />
</head>
<div class="login">
  <div class="container">
    <h1>Sign up</h1>
    <form action="" method="POST" class="form">
      <input type="text" placeholder="Name" class="feild" />
      <input type="text" placeholder="Email" class="feild" />
      <input type="text" placeholder="Password" class="feild" />
      <input type="submit" class="submit" />
    </form>
  </div>
</div>
