<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="./css/register.css" />
</head>

<body>
  <div class="login">
    <div class="container">
      <h1>Sign up</h1>
      <form action="/register" method="POST" class="form">
        <input type="text" placeholder="Name" class="feild" name="Name" />
        <input type="text" placeholder="Email" class="feild" name="Email" />
        <div class="title">
          <label for="title">Choose a Title : </label>
          <select name="Title" id="title">
            <option value="New Bie">New Bie</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </div>
        <div class="language">
          <label for="language">Choose a Language : </label>
          <select name="Language" id="language">
            <option value="C">C</option>
            <option value="C">CPP</option>
            <option value="C">JAVA</option>
            <option value="C">PYTHON</option>
          </select>
        </div>

        <input
          type="password"
          placeholder="Password"
          class="feild"
          name="Password"
        />
        <input
          type="password"
          placeholder="ConfirmPassword"
          class="feild"
          name="ConfirmPassword"
        />
        <input type="submit" class="submit" />
      </form>
    </div>
  </div>
</body>
