<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="./css/register.css" />
</head>

<body>
  <div class="login">
    <div class="container">
      <h1>Sign up</h1>
      <form action="/register" method="POST" class="form">
        <input type="text" placeholder="Name" class="feild" name="Name" />
        <input type="text" placeholder="Email" class="feild" name="Email" />
        <input
          type="password"
          placeholder="Password"
          class="feild"
          name="Password"
        />
        <input
          type="password"
          placeholder="ConfirmPassword"
          class="feild"
          name="ConfirmPassword"
        />
        <input type="submit" class="submit" />
      </form>
    </div>
  </div>
</body>
